<figure
{% if include.width %} style="width: {{ include.width }}px;" {% endif %}
{% if include.wrap %} class="image-wrap-{{ include.wrap }}" {% endif %}>
  {% if include.link %}
    <a href="{{ include.link }}">
  {% endif %}
    <img
    {% if include.image-url %}
      src="{{ include.image-url }}"
    {% else %}
      src="{{ site.baseurl }}/assets/images/{{ include.image-name }}"
    {% endif %}
    {% if include.width %}
      width="{{ include.width }}"
    {% endif %}
    {% if include.height %}
      height="{{ include.height }}"
    {% endif %}
    {% if include.alt %}
      alt="{{ include.alt }}"
    {% endif %}>
  {% if include.link %}
    </a>
  {% endif %}
  {% if include.caption %}
    <figcaption>{{ include.caption }}</figcaption>
  {% endif %}
</figure>
