<!-- start custom comments snippet -->
<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 238; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: '{{ page.url | absolute_url }}',
      // I had to add the if/else code here.
      // The default id assignment from Hyvor is in the "else" code.
      // But their import gave IDs like the "if" code.
      {% if page.from_wordpress == true %}
        id: '{{ page.comments_id }}:{{ page.guid }}' // For posts imported from Wordpress
      {% else %}
        id: '{{ page.id }}' // For new posts made with Jekyll
      {% endif %}
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
<!-- end custom comments snippet -->
